* {
  cursor: url('../assets/cursor/pointer.png'), auto;
}

.cursor-pointer {
  & * {
    cursor: url('../assets/cursor/link.png'), auto;
  }
  cursor: url('../assets/cursor/link.png'), auto;
}
.cursor-text{
  cursor: url('../assets/cursor/text.png'), auto;
}